body {
    background: RGBA(54, 17, 89, 1);
    font-family: 'Montserrat', sans-serif;;
}

header {
    display: flex;
    align-content: center;
    justify-content: center;
}

nav {
    width: 100vw;
    top: 0px;
    padding: 15px 0;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav li {
    list-style: none;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: rgb(154, 194, 207);
    transition: 1s color;
}

nav a:hover {
    color: #FFFFFF;
}

/* css do main */

main {
    padding: 0px 100px;
    color: white;
}

h3 {
    text-align: center;
    padding: 2em;
}

.sobre p {
    text-align: justify;
    font-size: 22px;
}

.sobre img {
    border: 2px solid #111111;
    border-radius: 500px;
    width: 200px;
    float: left;
    margin-right: 20px;
}

.experiencia {
    clear: left;
}